html
    head
        title Vista con Pug
    body
        p 1 Soy impar!
        p 2 Soy par!
        p 3 Soy impar!
        p 4 Soy par!
        p 5 Soy impar!
        p 6 Soy par!
        p 7 Soy impar!
        p 8 Soy par!
        p 9 Soy impar!
        p 10 Soy par!
        p 11 Soy impar!
        p 12 Soy par!
        p 13 Soy impar!
        p 14 Soy par!
        p 15 Soy impar!
        p 16 Soy par!
        p 17 Soy impar!
        p 18 Soy par!
        p 19 Soy impar!
        p 20 Soy par!
        p 21 Soy impar!
        p 22 Soy par!
        p 23 Soy impar!
        p 24 Soy par!
        p 25 Soy impar!
        p 26 Soy par!
        p 27 Soy impar!
        p 28 Soy par!
        p 29 Soy impar!
        p 30 Soy par!
        p 31 Soy impar!
        p 32 Soy par!
        p 33 Soy impar!
        p 34 Soy par!
        p 35 Soy impar!
        p 36 Soy par!
        p 37 Soy impar!
        p 38 Soy par!
        p 39 Soy impar!
        p 40 Soy par!
        p 41 Soy impar!
        p 42 Soy par!
        p 43 Soy impar!
        p 44 Soy par!
        p 45 Soy impar!
        p 46 Soy par!
        p 47 Soy impar!
        p 48 Soy par!
        p 49 Soy impar!
        p 50 Soy par!