html
    head
        title Vista con Pug
    body
        p 1 Soy ImPar!
        p 2 Soy Par!
        p 3 Soy ImPar!
        p 4 Soy Par!
        p 5 Soy ImPar!
        p 6 Soy Par!
        p 7 Soy ImPar!
        p 8 Soy Par!
        p 9 Soy ImPar!
        p 10 Soy Par!
        p 11 Soy ImPar!
        p 12 Soy Par!
        p 13 Soy ImPar!
        p 14 Soy Par!
        p 15 Soy ImPar!
        p 16 Soy Par!
        p 17 Soy ImPar!
        p 18 Soy Par!
        p 19 Soy ImPar!
        p 20 Soy Par!
        p 21 Soy ImPar!
        p 22 Soy Par!
        p 23 Soy ImPar!
        p 24 Soy Par!
        p 25 Soy ImPar!
        p 26 Soy Par!
        p 27 Soy ImPar!
        p 28 Soy Par!
        p 29 Soy ImPar!
        p 30 Soy Par!
        p 31 Soy ImPar!
        p 32 Soy Par!
        p 33 Soy ImPar!
        p 34 Soy Par!
        p 35 Soy ImPar!
        p 36 Soy Par!
        p 37 Soy ImPar!
        p 38 Soy Par!
        p 39 Soy ImPar!
        p 40 Soy Par!
        p 41 Soy ImPar!
        p 42 Soy Par!
        p 43 Soy ImPar!
        p 44 Soy Par!
        p 45 Soy ImPar!
        p 46 Soy Par!
        p 47 Soy ImPar!
        p 48 Soy Par!
        p 49 Soy ImPar!
        p 50 Soy Par!